@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('../static/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../static/fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../static/fonts/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../static/fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../static/fonts/Poppins-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #04171F;
    position: absolute;
    font-family: 'poppins', sans-serif;
}

.section-common {
    @apply h-full w-full relative flex flex-col lg:items-center
}

.div-section {
    @apply container px-8 flex flex-col
}